@import "../style/variables.scss";

.csv-upload {
  margin: 20px 0px;

  .uploader {
    margin: $margin5 0;
  }
  .rs-uploader-draggable
    .rs-uploader-trigger-customize
    .rs-uploader-trigger-btn {
    color: white;
    background-color: $bg-dark;
  }
  > .sc-hHftDr {
    .sc-dlfnbm {
      background-color: $bg-dark;
    }
    .gOmDhk {
      background-color: $bg-dark;
      &:hover {
        background-color: $bg-light;
      }
    }
    .fVMMIP {
      color: $white;
    }
    .cVpxlG {
      color: $white;
    }
    .juOmcw {
      fill: red;
    }
    .juOmcw:disabled {
      fill: red;
    }
  }
  .tLhxY {
    background-color: $bg-dark;
    color: $white;
  }

  .juOmcw {
    fill: $white;
  }
  .juOmcw:disabled {
    fill: $grey;
  }
}

.target-variable {
  z-index: 1000;
  margin: $margin4 0px;

  .rs-picker-select {
    margin: $margin5 0px;
  }
  .rs-picker-subtle,
  .rs-picker-subtle .rs-btn:focus,
  .rs-picker-subtle .rs-picker-toggle:focus,
  .rs-picker-subtle .rs-btn.rs-btn-focus,
  .rs-picker-subtle .rs-picker-toggle.rs-btn-focus,
  .rs-picker-subtle .rs-btn:hover,
  .rs-picker-subtle .rs-picker-toggle:hover {
    background-color: $bg-light;
  }
  .rs-picker-toggle.active {
    background-color: $bg-light;
  }
  .rs-picker-toggle.hover {
    background-color: $bg-light;
  }
}

.rs-picker-menu {
  background-color: $lightgrey;
  .rs-picker-toggle:hover {
    background-color: red;
  }
  .rs-picker-select-menu-item {
    color: $white;
  }
  .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input {
    background-color: $bg-dark;
  }
  .rs-picker-select-menu-item.rs-picker-select-menu-item-active,
  .rs-picker-select-menu-item.rs-picker-select-menu-item-active:hover {
    background-color: $lightgrey;
  }
}

.split-data {
  margin: $margin4 0px;

  .rs-slider {
    margin: $margin5 8px;
    max-width: 500px;
  }
}

.algorithm-picker {
  margin: $margin4 0px;
}

.rs-steps {
  .rs-steps-item-title {
    color: $white;
  }
  .rs-steps-item-status-finish,
  .rs-steps-item-status-wait {
    .rs-steps-item-title {
      color: $grey;
    }
  }
}
