$blue: #169de0;
$grey: #a4a9a6;
$white: #ffffff;
$bg-dark: #0f131a;
$bg-light: #1a1d24;
$red: #f04f43;
$lightgrey: #292d33;

$margin1: 0.25rem;
$margin2: 0.5rem;
$margin3: 0.75rem;
$margin4: 1rem;
$margin5: 2rem;
